@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  row-gap: 1rem;
}

button {
  padding: 10px 20px;
  margin: 1rem;
}

.message {
  /*  margin-top: 1rem;
  padding: 4px 8px;
  border: 2px solid #333; */
}
